body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 45px;
    width: auto;
}

.logo h2 {
    margin: 0;
    font-size: 22px;
    color: #1e3a8a;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #1e3a8a;
    font-weight: 500;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(30,58,138,0.85)),
                url("it-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.hero h2 {
    font-size: 42px;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(255,255,255,0.4);
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #ff6600;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: #e65c00;
}

/* SECTIONS */
section {
    padding: 80px 40px;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #0a1f44;
}

/* SERVICE CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 30px;
    border-radius: 15px;
    transition: 0.4s;
    color: white;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.25);
}

.card h3 {
    color: #0a1f44;
}

/* FOOTER */
footer {
    background: #0a1f44;
    color: white;
    padding: 40px;
    text-align: center;
}

/* FLOATING WHATSAPP */
.floating-whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #25D366;
    color: white;
    padding: 15px 18px;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

#services {
    padding: 100px 8%;
    background: linear-gradient(135deg, #1e3a8a, #0f172a);
}



